<form id="search_form" [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="text" formControlName="search" required placeholder="Mot clé">
        <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Rechercher</button>
        </div>
        <div (click)="status=!status">
            <button type="button" class="btn">Afficher les filtres
                <i class="fa fa-sliders-h"></i>
            </button>
        </div>
    </div>
    <div class="border" id="filter" [ngClass]="status ? '' : 'd-none'">
        <div class="form-inline m-2">
            <div class="form-check form-inline">
                <label class="form-check-label">Date minimum de l'image</label>
                <input class="form-control mb-2" type="date" formControlName="date_min" value="">
            </div>
            <div class="form-check form-inline">
                <label class="form-check-label">Date maximum de l'image</label>
                <input class="form-control mb-2" type="date" formControlName="date_max" value="">
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">Recherche NSFW</label>
                <input class="form-check-input ml-2 mb-2" type="checkbox" formControlName="safe_search">
            </div>
        </div>
    </div>
</form>
